body {
  background: linear-gradient(to bottom right, #dbf6ff, #75aabc); 
  min-height: 100vh; 
}
.content-box {
  background-color: #bbe9f0; 
  color: #495255 ; 
  max-width: 1000px;
  margin: auto;
}
  
  .formula-img {
    max-height: 200px; 
  }